.feed-container {
  display: flex;
}

.feed-content {
  margin-left: 260px;
  padding: 40px;
  color: white;
}

.post {
  background-color: #1f2937;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.post h3 {
  color: #60a5fa;
}

.post span {
  font-size: 12px;
  color: #9ca3af;
}
